/target
/lib
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
set-env-vars.sh
can-opener-user-credentials.csv
*.swo
*.swp
src/accounting_integrations_website/cleanup_utils.clj
