body {
  background-color: #EAD1EA;
  color: #000;
}

#purchase-orders:not(:checked) ~ #accounts-payable-account-group {display: none}

.hover-image {
  display: none;
}

.quickbooks-image {
  height: 40px;
}

.hover-image {
  display: block;
}

.hover-image .hoverover-image {
  display: none;
}

.hover-image:hover .hoverover-image {
  display: inline;
}

.hover-image:hover .default-image {
  display: none;
}

